
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>
      <p>&copy; <span id="currentYear"></span> Dhruv Shetty</p>
    
    <script>
      // Dynamically update the current year
      document.getElementById('currentYear').textContent = new Date().getFullYear();
    </script>  
    </p>
  </div>
</div>
</body>
</html>
